body
{
    background-color: LightGrey;
}
p.prvi
{
    font-family: Georgia, Serif;
    font-size: 16px;
    color: black;
    border-width: thin;
    border-style: solid;
    border-color: white;
    padding: 10px;
}
p.drugi
{
    font-family: Georgia, Serif;
    font-size: 16px;
    color: black;
    text-align: center;
    border-width: thin;
    border-style: solid;
    border-color: white;
    padding: 15px;
}
h2
{
    text-decoration: underline;
}

