body
{
  background-color: LightGrey;
}


:root{
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;
}
 
html,body{
  background:Maroon;
  height:80%;
  width:100%;
  position:relative;
  overflow:hidden;
}
 
.gallery{
  position:relative;
  height:80%;
  width:100%;
}

.gallery:after{
  content:'';
}

.shadow{
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
}

img{
  width:var(--width);
  height:var(--height);
}

.clipped-border{
   padding:5px;
   background: Maroon;
   width:var(--border-width);
   height:var(--border-height);
   max-height:250px;
   max-width:250px;
   height: var(--height);
   width:var(--width);
   transition:transform 0.2s;
   position:absolute;
   cursor:pointer;
}

.clipped-border:hover:before{
  transform: translate(-100px,400%) rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:nth-child(1){
  top:0px;
  left:290px;
}

.clipped-border:nth-child(2){
  top:0px;
  left:580px;
}

.clipped-border:nth-child(3){
  top:200px;
  left:0px;
}

.clipped-border:nth-child(4){
  top:200px;
  left:290px;
}

.clipped-border:nth-child(5){
  top:0px;
  left:870px;
}

.clipped-border:nth-child(6){
  top:200px;
  left:580px;
}

.clipped-border:nth-child(7){
  top:0px;
  left:1169px;
}

.clipped-border:nth-child(8){
  top:200px;
  left:870px;
}

.clipped-border:nth-child(9){
  top:200px;
  left:1160px;
}

.clipped-border:nth-child(10){
  top:400px;
  left:0px;
}

.clipped-border:nth-child(12){
  top:400px;
  left:290px;
}

.clipped-border:nth-child(13){
  top:400px;
  left:580px;
}

.clipped-border:nth-child(14){
  top:400px;
  left:870px;
}

.clipped-border:nth-child(15){
  top:400px;
  left:1160px;
}

.clipped-border:hover{
  transform:scale(1.2);
  transition:transform 0.2s;
  z-index:10;
}

}
